In [47]:
import pandas as pd
import numpy as np

In [6]:
#!pip install pandas

In [ ]:
data = pd.read_csv('~/01_Edge_Lab_Model_1/output/CarStats.csv')

In [107]:
data.shape
data.head(2)

,Time (S),MaxCarsPassing (N),MinCarsPassing (N),TotalGreenlights (N),TotalTraffic (N)
0,2020-10-29 07:43:38.180235,8,5,3,20
1,2020-10-29 07:45:58.385857,9,2,3,17

In [108]:
data.dtypes

Time (S)                object
MaxCarsPassing (N)       int64
MinCarsPassing (N)       int64
TotalGreenlights (N)     int64
TotalTraffic (N)         int64
dtype: object

In [109]:
data['Time (S)'] = pd.to_datetime(data['Time (S)'],errors='ignore')
data['Time (S)'] = dt.strftime("%Y-%m-%d %H:%M:%S")
print(data['Time (S)'].head(1))
print(type(data['Time (S)']))
data['Time (S)'] = pd.to_datetime(data['Time (S)'])
print(type(data['Time (S)']))

0    2020-10-29 07:43:38
Name: Time (S), dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [110]:
data.dtypes

Time (S)                datetime64[ns]
MaxCarsPassing (N)               int64
MinCarsPassing (N)               int64
TotalGreenlights (N)             int64
TotalTraffic (N)                 int64
dtype: object

In [111]:
data.head(2)

,Time (S),MaxCarsPassing (N),MinCarsPassing (N),TotalGreenlights (N),TotalTraffic (N)
0,2020-10-29 07:43:38,8,5,3,20
1,2020-10-29 07:43:38,9,2,3,17

In [112]:
data.to_csv('/Users/sjadhav/Documents/1.1AIC/1.Clients/5.ATC Edge Computing/atc/01_Edge_Lab_Model_1/output/CarStats_new.csv')
data_new = pd.read_csv('/Users/sjadhav/Documents/1.1AIC/1.Clients/5.ATC Edge Computing/atc/01_Edge_Lab_Model_1/output/CarStats_new.csv')

In [114]:
data_new.dtypes
#data_new

Unnamed: 0               int64
Time (S)                object
MaxCarsPassing (N)       int64
MinCarsPassing (N)       int64
TotalGreenlights (N)     int64
TotalTraffic (N)         int64
dtype: object

In [115]:
data_new['Time (S)'] = pd.to_datetime(data_new['Time (S)'],errors='ignore')
data_new['Time (S)'] = dt.strftime("%Y-%m-%d %H:%M:%S")
print(data_new['Time (S)'].head(1))
print(type(data_new['Time (S)']))
data_new['Time (S)'] = pd.to_datetime(data_new['Time (S)'])
print(type(data_new['Time (S)']))

0    2020-10-29 07:43:38
Name: Time (S), dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [117]:
data_new.dtypes

Unnamed: 0                       int64
Time (S)                datetime64[ns]
MaxCarsPassing (N)               int64
MinCarsPassing (N)               int64
TotalGreenlights (N)             int64
TotalTraffic (N)                 int64
dtype: object

In [104]:
data2.to_csv('/Users/sjadhav/Documents/1.1AIC/1.Clients/5.ATC Edge Computing/atc/01_Edge_Lab_Model_1/output/CarStats_new.csv')